<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  @vite(['resources/css/app.css', 'resources/js/app.js'])
  @stack('dumper')
</head>

<body>
  @component('components/layout')
  <h2>Bienvenue</h2>
  <p>Bienvenue sur Flashcards, une application créé par un étudiant, pour d'autre étudiants</p>

  <h2>Qu'est-ce ?</h2>

  @endcomponent
</body>

</html>