<header>
    <div class="container-header">
        <div class="titre-header">
            <h1>Flashcards</h1>
        </div>
    </div>
    <nav>
        <a href="{{ route('home') }}">Accueil</a>&nbsp;
        <a href="{{ route('decks') }}">Les decks</a>&nbsp;
    </nav>
</header>