<button class="card-link" onclick="toggleFlip(this)">
    <div class="card">
        <div class="card-inner">
            <div class="card-front">
                <h3>Question</h3>
                <p>{{ card.question }}</p>
            </div>

            <div class="card-back">
                <h3>Réponse</h3>
                <p>{{ card.reponse }}</p>
            </div>
        </div>
    </div>
</button>